<br><br>


<!-- Normal Badge -->
<div matBadge="4" matBadgeOverlap="false" class="demo-section">Text with a badge</div>

<div matBadge="1" matBadgeSize="large" class="demo-section">Text with large badge</div>

<br><br>


<!-- Section Wise Badge -->
<div class="demo-section">
    Button with a badge on the left
    <button mat-raised-button color="primary"
        matBadge="8" matBadgePosition="before" matBadgeColor="accent">
      Action
    </button>
</div>
<br>


<!-- Click Button Badge Toggle -->
<div class="demo-section">
    Button toggles badge visibility
    <button mat-raised-button matBadge="7" [matBadgeHidden]="hidden" (click)="toggleBadgeVisibility()">
        Hide
    </button>
</div>


<!-- Icon Badge -->
<div class="demo-section">
    Icon with a badge
    <mat-icon matBadge="15" matBadgeColor="warn">home</mat-icon>
      <!-- Include text description of the icon's meaning for screen-readers -->
      <span class="cdk-visually-hidden">
        Example with a home icon with overlaid badge showing the number 15
      </span>
</div>
<br><br>

<!-- Badge Position -->
    <!--  above|below and before|after -->

<button mat-raised-button color="primary"
    matBadge="8" matBadgePosition="below" matBadgeColor="accent">
  Action
</button><br>

<button mat-raised-button color="primary"
    matBadge="8" matBadgePosition="before" matBadgeColor="primary">
  Action
</button><br>

<button mat-raised-button color="primary"
    matBadge="8" matBadgePosition="above" matBadgeColor="warn">
  Action
</button><br>

<button mat-raised-button color="primary"
    matBadge="8" matBadgePosition="after" matBadgeColor="accent">
  Action
</button><br>
