<mat-toolbar color="primary">
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
    <mat-icon>menu</mat-icon>
  </button>
  <span>Angular Matreial</span>
  <span class="example-spacer"></span>
  <button mat-icon-button class="example-icon favorite-icon" aria-label="Example icon-button with heart icon">
    <mat-icon>favorite</mat-icon>
  </button>
  <button mat-icon-button class="example-icon" aria-label="Example icon-button with share icon">
    <mat-icon>share</mat-icon>
  </button>
</mat-toolbar>

<br><br>
<div style="display: flex;">

  <mat-card class="singleCard">
    <mat-card-content>
      <button mat-raised-button routerLink="badge">Badge</button>
    </mat-card-content>
  </mat-card>
  
  <mat-card class="singleCard">
    <mat-card-content>
      <button mat-raised-button routerLink="bottom-sheet">Bottom Sheet</button>
    </mat-card-content>
  </mat-card>

  <mat-card class="singleCard">
    <mat-card-content>
      <button mat-raised-button routerLink="button">Button</button>
    </mat-card-content>
  </mat-card>

  <mat-card class="singleCard">
    <mat-card-content>
      <button mat-raised-button routerLink="button-toggle">Button Toggle</button>
    </mat-card-content>
  </mat-card>

  <mat-card class="singleCard">
    <mat-card-content>
      <button mat-raised-button routerLink="card">Card</button>
    </mat-card-content>
  </mat-card>

  <mat-card class="singleCard">
    <mat-card-content>
      <button mat-raised-button routerLink="checkbox">Checkbox</button>
    </mat-card-content>
  </mat-card>

  <mat-card class="singleCard">
    <mat-card-content>
      <button mat-raised-button routerLink="chips">Chips</button>
    </mat-card-content>
  </mat-card>

  <mat-card class="singleCard">
    <mat-card-content>
      <button mat-raised-button routerLink="date-picker">Date Picker</button>
    </mat-card-content>
  </mat-card>

  <mat-card class="singleCard">
    <mat-card-content>
      <button mat-raised-button routerLink="dialog">Dialog</button>
    </mat-card-content>
  </mat-card>

</div>

<router-outlet></router-outlet>